<!doctype html>
<head>
    <title>So who goes first?</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
<h1>Hello, this is your stand up order for iso year {{ isocal[0] }} iso week {{ isocal[1] }}</h1>
<table>
    <colgroup>
        <col style="background-color: yellow" span="2">

    </colgroup>
    <tr>
        <td>&nbsp;</td>
        <th>Sunday</th>
        <th>Monday</th>
        <th>Tuesday</th>
        <th>Wednesday</th>
        <th>Thursday</th>
        <th>Friday</th>
        <th>Saturday</th>
    </tr>
    <tr>
        <th>First</th>
        <td></td>
        <td>{{ pick_random(people,weeknumber,1)[0] }}</td>
        <td>{{ pick_random(people,weeknumber,2)[0] }}</td>
        <td>{{ pick_random(people,weeknumber,3)[0] }}</td>
        <td>{{ pick_random(people,weeknumber,4)[0] }}</td>
        <td>{{ pick_random(people,weeknumber,5)[0] }}</td>
        <td></td>
    </tr>
    <tr>
        <th>Second</th>
        <td></td>
        <td>{{ pick_random(people,weeknumber,1)[1] }}</td>
        <td>{{ pick_random(people,weeknumber,2)[1] }}</td>
        <td>{{ pick_random(people,weeknumber,3)[1] }}</td>
        <td>{{ pick_random(people,weeknumber,4)[1] }}</td>
        <td>{{ pick_random(people,weeknumber,5)[1] }}</td>
        <td></td>
    </tr>
    <tr>
        <th>Third</th>
        <td></td>
        <td>{{ pick_random(people,weeknumber,1)[2] }}</td>
        <td>{{ pick_random(people,weeknumber,2)[2] }}</td>
        <td>{{ pick_random(people,weeknumber,3)[2] }}</td>
        <td>{{ pick_random(people,weeknumber,4)[2] }}</td>
        <td>{{ pick_random(people,weeknumber,5)[2] }}</td>
        <td></td>
    </tr>
</table>
</body>