<!doctype html>
<head>
    <title>So who goes first?</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
<h1>Hello {{ pm }}, </h1>
    <h2> This is your random stand up order for iso year-week {{ year }}-{{ week_num }} </h2>
<table>
    <colgroup>
        <col style="background-color: yellow" span="2">

    </colgroup>

    <tr>
        <td>&nbsp;</td>
        <th>Monday</th>
        <th>Tuesday</th> 
        <th>Wednesday</th>
        <th>Thursday</th>
        <th>Friday</th>
    </tr>
    {% for person in people %}
    <tr>
        <th>{{ placement[loop.index0] }}</th>
        <td>{{ pick_random(people,weeknumber,1)[loop.index0] }}</td>
        <td>{{ pick_random(people,weeknumber,2)[loop.index0] }}</td>
        <td>{{ pick_random(people,weeknumber,3)[loop.index0] }}</td>
        <td>{{ pick_random(people,weeknumber,4)[loop.index0] }}</td>
        <td>{{ pick_random(people,weeknumber,5)[loop.index0] }}</td>
    </tr>
    {% endfor %}
</table>

<p>
    <cite>
        * Random is deterministic seed based on ordering of team members, year, week, and day of week
    </cite>
</p>
</body>