<!doctype html>
<head>
    <title>Hello from Flask</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
<h1>Hello, this is your calendar for the week! the seed is {{seed}} </h1>
<table>
    <colgroup>
        <col style="background-color: yellow" span="2">
    </colgroup>
    <tr>
        <td>&nbsp;</td>
        <th>Sunday</th>
        <th>Monday</th>
        <th>Tuesday</th>
        <th>Wednesday</th>
        <th>Thursday</th>
        <th>Friday</th>
        <th>Saturday</th>
    </tr>
    <tr>
        <th>Diet</th>
        <td>{{ pick_random(diet, seed)[0] }}</td>
        <td>{{ pick_random(diet, seed)[1] }}</td>
        <td>{{ pick_random(diet, seed)[2] }}</td>
        <td>{{ pick_random(diet, seed)[3] }}</td>
        <td>{{ pick_random(diet, seed)[4] }}</td>
        <td>{{ pick_random(diet, seed)[5] }}</td>
        <td>{{ pick_random(diet, seed)[6] }}</td>
    </tr>
    <tr>
        <th>Exercise</th>
        <td>{{ pick_random(exercise, seed)[0] }}</td>
        <td>{{ pick_random(exercise, seed)[1] }}</td>
        <td>{{ pick_random(exercise, seed)[2] }}</td>
        <td>{{ pick_random(exercise, seed)[3] }}</td>
        <td>{{ pick_random(exercise, seed)[4] }}</td>
        <td>{{ pick_random(exercise, seed)[5] }}</td>
        <td>{{ pick_random(exercise, seed)[6] }}</td>
    </tr>
    <tr>
        <th>Growth</th>
        <td>{{ pick_random(social, seed)[0] }}</td>
        <td>{{ pick_random(social, seed)[1] }}</td>
        <td>{{ pick_random(social, seed)[2] }}</td>
        <td>{{ pick_random(social, seed)[3] }}</td>
        <td>{{ pick_random(social, seed)[4] }}</td>
        <td>{{ pick_random(social, seed)[5] }}</td>
        <td>{{ pick_random(social, seed)[6] }}</td>
    </tr>
        <tr>
        <th>Wife Sign off</th>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
</table>
</body>